body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/배경2.jpg') no-repeat center center;
    background-size: cover;
    /*background-color: #1a1a1a;*/
    color: white;
}

.blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px); /* 블러 강도를 조절할 수 있습니다 */
    background: rgba(0, 0, 0, 0.76); /* 배경 색상 및 투명도 설정 */
    z-index: -1;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.head-container {
    padding: 20px;
}

.song-container {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.song-info {
    width: 30%;
    padding: 20px;
}

.song-info img {
    width: 100%;
    margin-bottom: 10px;
}

.song-list {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.song-list ul {
    list-style-type: none;
    padding: 0;
}

.song-list li {
    height: 80px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.song-list li:hover {
    background-color: #3a3a3a;
}

.song-list li.selected {
    background-color: #8e44ad;
}

.navigation {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.navigation button {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #8e44ad;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.footer-container {

}

h1, h2 {
    color: #8e44ad;
}